<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>PhotoGeoGame</title>
        <link rel="stylesheet" href="css/main.css">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/js/game.js"></script>
	</head>
	<body>
		<div id="main">
			{{#authenticated}}
				<a href="#" id="retry-link">Retry</a>
				<p>Which photo's location is closest to you?</p>
				<ul id="photos"></ul>
			{{/authenticated}}
			{{^authenticated}}
				<p>Unable to authenticate you on Flickr's API.</p>
			{{/authenticated}}
		</div>
	</body>
</html>