body { font-family: sans-serif; }
#retry-link { position: fixed; top: 25px; left: 25px; }
.label { display: none; margin-bottom: 0px; }
#main { width: 50%; margin: auto; }
#photos { padding: 0px; margin: 0px; }
#photos li { display: block; }
#photos li img { width: 100%; }
#photos li p { position: relative; bottom: 35px; background: rgba(0, 0, 0, 0.4); color: #FFF; font: bold 15px Helvetica; padding: 5px 10px; margin: 0px; }